<div class="flex flex-col justify-center items-center gap-y-5 w-full mt-4">
  @if (department) {
  <h2 class="text-center font-bold text-3xl">{{ department.name }}</h2>
  }
  <mat-card class="main-container flex justify-center w-96">
    <mat-form-field appearance="fill">
      <mat-label>Employee Name</mat-label>
      <input
        matInput
        [formControl]="employeeNameFC"
        type="text"
        placeholder="e.g., Jane Doe"
        (keyup.enter)="addEmployee()"
        [disabled]="employeeNameFC.invalid"
      />
      @for (error of employeeNameFC.errors | keyvalue; track error.key) {
        @if (error.key === 'duplicate') {
          <mat-error>Duplicate Name</mat-error>
        }
      }

      <button
        class="add-employee-button pr-4"
        mat-icon-button
        matSuffix
        color="primary"
        (click)="addEmployee()"
        [disabled]="employeeNameFC.invalid"
        aria-label="Add employee button"
      >
        <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
      </button>
    </mat-form-field>

    <mat-card-content>
      @for (employee of employees; track employee.id) {
      <div class="p-2 border-b">{{ employee.name }}</div>
      }
    </mat-card-content>
  </mat-card>

  <mat-card class="hours">
    <table>
      <thead>
        <th>Name</th>
        @for (day of weekdays; track $index) {
        <th class="p-6">{{ day }}</th>
        }
        <th>Total Hours</th>
      </thead>
      <tbody>
        @for (employee of employees; let i = $index; track employee.id) {
        <tr>
          <td>{{ employee.name }}</td>
          @for (day of weekdays; track $index) {
          <td>
            <input
              type="number"
              [id]="day + '-' + employee.id"
              [(ngModel)]="employee[day]"
              class="hours-input"
              aria-label="Hours for {{ employee.name }} on {{ day }}"
            />
          </td>
          }
          <td class="total-cell">{{ getTotalHours(employee) }}</td>
          <td>
            <button class="material-symbols-outlined" (click)="deleteEmployee(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </mat-card>
</div>
